/* Сброс стилей */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Убираем лишний скролл */
html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden; /* Убираем горизонтальный скролл */
    overflow-y: auto; /* Оставляем вертикальный скролл */
    font-family: Arial, sans-serif;
    background-color: #f9f7f0;
}

/* Шапка, фиксированная сверху, только как полоса */
header {
    background-color: #333;
    text-align: center;
    color: white;
    padding: 10px 0;
    position: fixed; /* Фиксированная шапка */
    top: 0;
    left: 0;
    width: 100%; /* Занимает всю ширину */
    z-index: 10;
    box-sizing: border-box;
}

/* Контейнер для меню внутри шапки */
header #nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    width: 100%; /* Чтобы меню не выходило за границы */
}

/* Основной контейнер с контентом */
.scroll-container {
    padding: 50px;
    margin-top: 80px; /* Место для шапки */
    min-height: 100vh; /* Высота как экран */
    background-color: white;
}

/* Блоки с заголовками, фиксируемые при прокрутке */
.hero, .pinned {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

/* Пиннинг заголовка */
.pinned {
    font-size: 2rem;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 5;
    background: #f9f7f0;
}

.pinned h2 {
    font-size: 3rem;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

/* Контейнер для изображений */
.image-container {
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

/* Стили для футера */
footer {
    background-color: #333;
    text-align: center;
    width: 100%;
    color: white;
    padding: 20px 0;
    position: relative; /* Футер не фиксированный */
    z-index: 10;
}

/* Адаптивное меню для мобильных устройств */
@media (max-width: 768px) {
    .desktop-menu {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    #nav {
        flex-direction: row;
        justify-content: space-between;
    }
}